# Ignore build output directories
/build/
/*.bin
/*.elf
/*.map

# Ignore SDK configuration files
/sdkconfig
/sdkconfig.old

# Ignore IDF Python environment
/venv/
/.venv/

# Ignore Eclipse IDE files
/.cproject
/.project
/.settings/

# Ignore VS Code files
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak

# Ignore core dumps
core

# Ignore kicad backups
/ddrpad/ddrpad-backups/
main/wifi_credentials.h
